@{
  Layout = "_Layout";
}


<p>@Html.ActionLink("See All Flavors", "Index", "Flavors")</p>
<p>@Html.ActionLink("See All Treats", "Index", "Treats")</p>
<br>
@* <p>@Html.ActionLink("Create An Account", "Index", "Account")</p> *@
<p>@Html.ActionLink("My Account", "Index", "Account")</p>