@{
  Layout = "_Layout";
}
<br>
<div class="row">
<div class="col-md-6">
  <img src="https://images.getbento.com/accounts/a3e72eb05f5158bbaa07dab02b2d4748/media/images/60195Photo_Apr_25_8_30_36_PM.jpg?fit=max&w=1800&auto=format,compress">
</div>
<div class="col-md-6">
  <img src="https://article.innovadatabase.com/articleimgs/article_images/637304890424902023Bread-and-buns-496564915_5472x3648.jpeg">
</div>
</div>
