<div id="header">
  @Html.ActionLink("Home", "Index", "Home", null, new { @class="btn title-button btn-info fa fa-home"})
  @Html.ActionLink("View All Flavors", "Index", "Flavors", null, new { @class="btn title-button btn-default"})
  @Html.ActionLink("View All Treats", "Index", "Treats", null, new { @class="btn title-button btn-default"})
  @Html.ActionLink("My Account", "Index", "Account", null, new { @class="btn title-button btn-success"})
</div>